@mixin fluid-text($max, $min) {
  font-size: clamp(#{$min}px, #{$max / 1920 * 100}vw, #{$max}px);
}

@mixin reset-link {
  color: inherit;

  &,
  &:hover {
    text-decoration: none;
  }
}

@mixin reset-button {
  padding: 0;
  background-color: transparent;
  border: none;
}

@mixin reset-input-onFocus {
  &:focus {
    outline: none;
    border: none;
    box-shadow: none;
    color: currentColor;
  }
}

@mixin flex-center($isInline: false) {
  @if $isInline {
    display: inline-flex;
  } @else {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
