:root {
  --color-black: #141e38;
  --color-white: #f5f5f5;
  --color-yellow: #e0b100;

  --border-radius-large: 40px;
  --border-radius-small: 24px;

  --font-family-base: "Inter", sans-serif;

  --transition-duration: 0.3s;

  --container-width: 1680px;
  --container-padding-x: 40px;

  --section-padding-y-large: 80px;
  --section-padding-y-small: 40px;

  --button-height: 48px;
}
